<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>
        {% block title %}
        {% endblock %}
         SIT
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
<header>
    <div id="logotipo">
        <img src="{% static 'images/logo.png' %}" alt="Logotipo" />
        <h1>Instituto Tecnológico Superior de Atlixco</h1>
    </div>
</header>

<nav>
    <ul>
        <li><a href="{% url 'inicio_tutor' %}">Inicio</a></li>
        <li><a href="{% url 'seleccion_tutorados'%}">Selección de Tutorados</a></li>
        <li><a href="{% url 'seleccion_materias_docente'%}">Selección de Materias</a></li>
        <li><a href="{% url 'asistencia_tutoria'%}">Asistencia a Tutorías</a></li>
        <li><a href="{% url 'seleccion_alumno' %}">Seguimiento Académico</a></li>
        <li><a href="{% url 'logout'%}">Cerrar sesión</a></li>
        <li style="float: right;"><a href="{% url 'inicio_docente' %}">Docente &gt;&gt;</a></li>
    </ul>
</nav>

<div class="barra">
    <samp class="esquina-izquierda"></samp>
    <samp class="relleno-barra"></samp>
    <samp class="esquina-derecha"></samp>
</div>
<div id="content">
    <div class="box">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    ITSA &copy; Rodrigo Navarro - {% now 'Y' %}
</footer>
</body>
</html>
