<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        
        {% endblock %}
        | SIT
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

<header>
    <div id="header-images">
        <img src="{% static 'images/gobierno.png' %}" alt="Gobierno de México" />
        <img src="{% static 'images/educacion.png' %}" alt="Educación" />
        <img src="{% static 'images/tecnologico.png' %}" alt="Tecnológico Nacional de México" />
        <img src="{% static 'images/secretaria.png' %}" alt="Secretaría de Educación" />
        <img src="{% static 'images/logo.png' %}" alt="Instituto Tecnológico Superior de Atlixco" />
    </div>
</header>



<nav>
    <div class="hamburger" tabindex="0">☰ Menu</div>
    <ul class="nav-links">
    <ul>
        <li>
            <a href="{% url 'inicio_estudiante' %}">Inicio</a>
        </li>
        <li><a href="{% url 'materia_alumno'%}">Materias</a></li>
        <li>
            <a href ="{% url 'logout'%}">Cerrar sesion</a>
        </li>
    </ul>
</nav>

    <div id="content">

        <div class=" box">
                {% block content %}

                {% endblock %}
        </div>

    </div>

    <footer>
       ITSA &copy;  Rodrigo Navarro - {% now 'Y'%}
    </footer>

</body>
</html>