<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock %}
        | SIT
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

<header>
    <div id="header-images">
        <img src="{% static 'images/gobierno.png' %}" alt="Gobierno de México" />
        <img src="{% static 'images/educacion.png' %}" alt="Educación" />
        <img src="{% static 'images/tecnologico.png' %}" alt="Tecnológico Nacional de México" />
        <img src="{% static 'images/secretaria.png' %}" alt="Secretaría de Educación" />
        <img src="{% static 'images/logo.png' %}" alt="Instituto Tecnológico Superior de Atlixco" />
    </div>
</header>


<nav>
    <div class="hamburger" tabindex="0">☰ Menu</div>
    <ul class="nav-links">
        <li>
            <a href="{% url 'inicio_coordinador' %}">Inicio</a>
        </li>
        <li>
            <a href="{% url 'asignacion_materia_coordinador' %}">Asignación de materias</a>
        </li>
        <li>
            <a href="{% url 'asignacion_tutores' %}">Asignación de tutores</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
    </ul>
</nav>


<div id="content">
    <div class="box">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    ITSA &copy; Rodrigo Navarro - {% now 'Y' %}
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');
    
        hamburger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    });
    
</script>
</body>
</html>
